extends template.pug

block content
        img(src="")
        form
            input(type="text" placeholder="아이디")
            input(type="password" placeholder="비밀번호")
        div
            input(type="checkbox")
            span 아이디 저장
            a(href="#") 아이디 / 비밀번호 찾기
            a(href="#") 회원가입
        button 로그인