doctype html
html
  head
    link(rel="stylesheet", href="/static/stylesheets/reset.css")
    link(rel="stylesheet", href="/static/stylesheets/global.css")
    block style
    title 배민상회
  body
    block content