doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1' )
    link(rel="stylesheet", href="/static/stylesheets/reset.css")
    link(rel="stylesheet", href="/static/stylesheets/global.css")
    block style
    title 배민상회
  body
    block content